# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/products
/Products

# Rust related
**/target/

# Xcode & Apple related
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*.xcuserdatad/
**/*.xcuserstate
**/xcuserdata/
**/Pods/

# Python cache
**/__pycache__/

# Ephemeral & Flutter plugin files
**/Flutter/ephemeral/
**/flutter/ephemeral/
.flutter-plugins


# 本次摄像头/麦克风/剪贴板 Rust 库由构建脚本生成
/scrcpy_flutter/macos/Libs/libanydeck_device_bridge.dylib

# 临时原型目录
/prototype/
